@media (min-width: 992px) {
	.navbar {
		&__hamburger {
			display: none;
		}
		&__links {
			position: static;
			flex-direction: row;
            margin-right: 2em;
			width: auto;
			background: none;
			transform: translateX(0);
			&-link {
				padding: 0 1em;
			}
		}
	}
}
